.admin {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  grid-template-columns: 1.8fr 8.2fr;
  grid-template-rows: 1.2fr 8.8fr;
  height: 100vh;
  width: 100%;
  background-color: #0f1127;
  padding: 10px;
  transition: 1s;
}
.admin.sidebarClose {
  grid-template-columns: 0.6fr 9.4fr;
}

/* ---------------------- SIDEBAR ---------------------- */
.admin .sidebar {
  position: relative;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0px 20px;
}
.admin .sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
  margin-bottom: 20px;
}
.admin .sidebar .logo img {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.admin .sidebar .logo p {
  font-size: 24px;
  font-weight: bold;
}
.admin .sidebar .logo p.sidebarClose {
  display: none;
}
.admin .sidebar .list-menu {
  display: flex;
  flex-direction: column;
}

/* ------------- */
.navlink-active {
  background-color: #ff6854a4;
  border-radius: 15px;
  color: white;
  margin-bottom: 30px;
}
.navlink-passive {
  /* height: 50px; */
  color: rgba(255, 255, 255, 0.755);
  margin-bottom: 30px;
}
/* ------------- */

.admin .sidebar .list-menu .menu {
  height: 25px;
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 15px;
}
.admin .sidebar .list-menu .menu.sidebarClose {
  justify-content: center;
  align-items: center;
}
.admin .sidebar .list-menu .menu i {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}
.admin .sidebar .list-menu .menu p {
  font-size: 14px;
}
.admin .sidebar .list-menu .menu p.sidebarClose {
  display: none;
}
.admin .sidebar .dark-mode {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.admin .sidebar .dark-mode p {
  font-size: 10px;
  margin-bottom: 5px;
}
.admin .sidebar .dark-mode p.sidebarClose {
  display: none;
}
.admin .sidebar .dark-mode i {
  font-size: 25px;
  cursor: pointer;
}

/* ---------------------- HEADER ---------------------- */
.admin .header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #92747458;
  color: black;
  transition: 0.5s;
}
.admin .header.dark {
  color: white;
  background-color: #242424;
}
.admin .header i.fa-bars {
  font-size: 30px;
  cursor: pointer;
}
.admin .header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* box-shadow: 0px 0px 5px 0.1px;
  border-radius: 10px; */
  cursor: pointer;
}
.admin .header .profile img {
  width: 40px;
  height: 40px;
  border: 3px solid #ff6854;
  border-radius: 50%;
}
.admin .header .profile p {
  font-size: 16px;
  font-weight: 600;
}
.admin .header .profile i {
  font-size: 16px;
}

/* ---------------------- CONTENT ---------------------- */
.admin .content {
  color: black;
  grid-area: content;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 30px;
  overflow-y: scroll;
  transition: 0.5s;
}

.admin .content.dark {
  color: white;
  background-color: #242424;
}
